<% profit_loss = 0 %>
<h1>Listing Cryptos</h1>
<br/>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit Price Paid</th>
      <th>Amount owned</th>
      <th>Current Value Owned</th>
      <th>Current Profit/Loss</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
    <% if crypto.user_id == current_user.id %>
    <% if crypto.symbol %>
      <% crypto.symbol = crypto.symbol.upcase %>
    <% end %>
    <tr>
      <% for x in @lookup_crypto %>
        <% if crypto.symbol == x["symbol"] %>
          <td><%= link_to x["name"], crypto %></td>
          <td> <%= number_to_currency(crypto.cost_per) %></td>
          <td><%= crypto.amount_owned %></td>
          <td><%= number_to_currency(x["price_usd"].to_d * crypto.amount_owned) %></td>
          <td><%= number_to_currency( (x["price_usd"].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned) )%></td>
          <% profit_loss += (x["price_usd"].to_d * crypto.amount_owned) - (crypto.cost_per * crypto.amount_owned) %>
        <% end %>
      <% end %>
      
        
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>

<strong>Portfolio Profit/Loss: </strong> <%= number_to_currency(profit_loss) %>
<br>
<br>
<br>


<%= link_to 'New Crypto', new_crypto_path, class: "btn btn-default" %>
